
/* Type=HomePgae */
/* Auto layout */
.layout {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 58px;
gap: 45px;

width: 1440px;
height: 68px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

/* Logo + NavigationMenu */
/* Auto layout */
.logoAndNavigateLayout {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 45px;

margin: 0 auto;
width: 674px;
height: 25px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

/* Logo */
.logo {
width: 93px;
height: 25px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Wordmark */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(../Assets/netflixLogo.png);
}


/* NavigationMenu */
/* Auto layout */
.navigateLayout {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 536px;
height: 17px;
flex: none;
order: 1;
flex-grow: 0;
}

/* Home */
.home {
width: 40px;
height: 17px;
/* Medium/SmallBody (LH 17) */
font-family: 'Netflix Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height, or 121% */
display: flex;
align-items: center;
color: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

/* TV Shows */
.tvShows {
width: 65px;
height: 17px;

/* Regular/SmallBody */
font-family: 'Netflix Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height, or 121% */
display: flex;
align-items: center;

/* Grey/Grey-10 */
color: #E5E5E5;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

/* Movies */
.movies {
width: 46px;
height: 17px;

/* Regular/SmallBody */
font-family: 'Netflix Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height, or 121% */
display: flex;
align-items: center;

/* Grey/Grey-10 */
color: #E5E5E5;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
}

/* New & Popular */
.newAndPopular {
width: 96px;
height: 17px;

/* Regular/SmallBody */
font-family: 'Netflix Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height, or 121% */
display: flex;
align-items: center;

/* Grey/Grey-10 */
color: #E5E5E5;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
}

/* My List */
.myList {
width: 47px;
height: 17px;

/* Regular/SmallBody */
font-family: 'Netflix Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height, or 121% */
display: flex;
align-items: center;

/* Grey/Grey-10 */
color: #E5E5E5;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
}

/* Browse by Languages */
.browseByLanguages {
width: 142px;
height: 17px;

/* Regular/SmallBody */
font-family: 'Netflix Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height, or 121% */
display: flex;
align-items: center;

/* Grey/Grey-10 */
color: #E5E5E5;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
}

/* Search + Notification + User */
/* Auto layout */
.searchNotificationUserLayout {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 15px;
margin: 0 auto;
width: 154px;
height: 32px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

/* Icon/Medium/Search */
/* Auto layout */
.iconSearch{
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 2px 0px;
gap: 10px;
width: 36px;
height: 32px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 79 */
width: 19.6px;
height: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

/* Ellipse 5 */
.ellipse {
box-sizing: border-box;
position: absolute;
width: 17.39px;
height: 17.39px;
left: 0px;
top: 0px;
border: 1.73913px solid #FFFFFF;
}

/* Line 7 */
.line7 {
position: absolute;
width: 8.48px;
height: 0.05px;
left: 19.56px;
top: 20px;
border: 1.73913px solid #FFFFFF;
transform: rotate(-135deg);
}

/* Icon/Medium/Notification */
/* Auto layout */
.iconNotifications {
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 4px 0px;
gap: 10px;
width: 36px;
height: 32px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Vector */
width: 16.92px;
height: 20px;
background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

/* SmallAvatar */
/* Auto layout */
.smallAvatarLayout {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 9px;
width: 52px;
height: 32px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
}

/* Frame 78 */
.frame78 {
margin: 0 auto;
width: 32px;
height: 32px;
background: #FFFFFF;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

/* SmallAvatar */
.smallAvatar {
position: absolute;
width: 32px;
height: 32px;
left: calc(50% - 32px/2);
top: calc(50% - 32px/2);
}

/* 15 */
.fifteen {
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: url(AAAABZEwZmUZB6H1tKp8gauZK6AhrM6mWfatr-y4LSGl1nWaD0hYc2NMRp6vknlM5jqt_Zds3X7aRfv69hxR_B0ipuG9kGY5ENFo3w 12.46.png);
border-radius: 2px;
}

/* Icon/Small/ArrowDown */
.arrowDown {
margin: 0 auto;
width: 10px;
height: 5px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

/* Vector */
.vector {
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: #FFFFFF;
}
